@use './vars.scss' as *;


form {
   flex: 1;
   flex-direction: row;
   justify-content: center;
   padding: 1em;
   flex-wrap: wrap;
   margin: auto;

   .input {
      padding: 1em;
      gap: 0;
      width: 100%;
      max-width: 300px;
      background: $c3;
   }

   p.error {
      color: red;
      height: 25px;
   }

   label {
      color: $c1;
      white-space: pre-wrap;
   }

   input,
   textarea {
      border: 1px solid $c1;
      min-width: 100%;
      resize: vertical;
   }

   button[type='submit'] {
      width: 100%;
      flex: 0 0 100%;
      margin: 1em 0;
   }
}