@use './vars.scss' as *;


form {
   flex: 1;
   flex-direction: row;
   justify-content: center;
   padding: 1em;
   flex-wrap: wrap;
   margin: auto;

   .field {
      gap: 0;
      width: 100%;
      max-width: 300px;

      &.dynamic-groups {
         max-width: 100%;
      }

      &.signature {
         max-width: unset;

         >* {
            max-width: 300px;
            margin: auto;
         }
      }

      .counter {
         flex-direction: row;
         justify-content: center;

         >* {
            width: 25px;
            height: 25px;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            font-weight: 700;
         }

      }
   }



      button {
      border: 1px solid $c1;
   }



   .choice-checkbox {
      .option {
         flex-direction: row;

         input {
            min-width: unset;
         }
      }
   }



   .buttons {
      max-width: 300px;
      width: 100%;
      flex: 0 0 100%;
      margin: 1em 0;
   }

   .dynamic-groups {
      .group {
         flex-direction: row;
      }
   }


}